<div style="margin: auto; width: 90%">
  <h3>Edycja rezerwacji</h3>
  <%= render 'form', reservation: @reservation %>
</div>
<%= link_to 'Show', @reservation, :class => 'btn btn-primary' %>
<%= link_to 'Back', reservations_path, :class => 'btn btn-default' %>

