<p id="notice"><%= notice %></p>

<div style="margin: auto; width: 90%">
  <h4>Rezerwacje</h4>
  <%= render 'layouts/filters' %>
  <br>
  <%= link_to 'Nowa rezerwacja', new_reservation_path, :class => "btn btn-default" %>
  <br>
  <%= render partial: 'list' %>
</div>
<br>
